@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Estilização geral */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
  }
  


  /* Menu */
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #020101;
    color: #fff;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .contacts {
    text-align: right;
  }
  .contacts_whatsapp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .contacts_whatsapp img{
    width: 30px;
    
  }
  .contacts_phone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .contacts_phone img{
   width: 30px;
  }
  
  .contacts p {
    margin: 5px 0;
  }
  

  
  /* Carrossel */
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    height: 450px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  button {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(31, 30, 30, 0.342);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }


  /* marcas */

  .caixa_marcas{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .caixa_marcas_titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
  }

  .caixa_marcas_carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }
  .marcas{
    width: 150px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .marcas img{
    width: 120px;
    height: 50px;
    

  }

  /* produtos */
  .caixa_principal_produtos{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }

  .caixa_filha_titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

  }

  .caixa_filha_cards_produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

  }

  .card{
    width: 200px;
    height: 300px;
    display: flex;
    display: block;
    justify-content: center;
    /*border: 1px solid black;*/
    background-color: #f0eeee;
    border-radius: 20px;
    text-align: center;
  }
  .card img{
    width: 160px;
    height: 100px;
  }



  /* serviços */
  .caixa_principal_servicos{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  .caixa_servicos_titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  .caixa_exemplo_sevicos{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .conteiner_servicos_circulo_texto{
    width: 140px;
    display: flex;
    justify-content: center;
    display: block;

  }
  .circulo_servico{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #3f4e52;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .texto_servico{
    width: 100%;
    text-align: center;
  }
  
  /* localização */

  .caixa_principal_localizacao{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .caixa_localizacao_titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .caixa_localizacao_informacoes{
    display: flex;
    display: block;
    margin-left: 200px;
  }
  .informacoes_endereco{
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .informacoes_horarios{
    width: 100%;
    display: flex;
    gap: 10px;
  }



  /* mapa da oficina */

  .caixa_principal_maps{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .caixa_maps_titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .caixa_mapa_link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .map-link {
      display: inline-block;
      width: 80%; /* Largura da capa */
      height: 500px; /* Altura da capa */
      border: 2px solid #ccc; /* Borda */
      border-radius: 10px; /* Cantos arredondados */
      overflow: hidden;
      text-decoration: none; /* Remove sublinhado */
    }

    /* Estilo da imagem ou capa */
    .map-link img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta a imagem para caber */
    }

    /* Efeito ao passar o mouse */
    .map-link:hover {
      border-color: #007BFF; /* Muda a cor da borda */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    }

    /* roda pé */
    .roda_pe{
      width: 100%;
      display: flex;
      display: block;
      justify-content: center;
      text-align: center;
      background-color: #020101;
      color: #fff;
      margin-top: 100px;


    }
    .caixa_icon_roda{
     width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: -10px;
    }
    .caixa_icon_roda img{
     width: 35px;
     height: 35px;
      
    }


/*================================================================================================*/

/* tela de login */
.login-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #141a2c, #3f4e52);
    /*background-color: #020101;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .login-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .login-img {
    width: 80px;
    height: 80px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .login-button {
    width: 200px;
    padding: 10px;
    background: #141a2c;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: #05070c;
  }
  .centraliza_bt_logar{
    width: 100%;
    display: flex;
    justify-content: center;
  }

/*===============================================================================================*/
  /* menu da interno */
.menu-container {
  width: 100%;
  background-color: #000; /* Fundo preto */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 100px; /* Altura do menu */
}

.menu-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-logo img {
  height: 80px; /* Ajustar conforme o tamanho desejado */
}

.menu-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin-right: 20px;
}

.menu-items a {
  text-decoration: none;
  color: #fff; /* Texto branco */
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-items a:hover {
  color: #f0f0f0; /* Cor ao passar o mouse */
}

  